.route_avatar {
    position: relative;
}

.route_avatar__img {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.route_avater__name {
    position: absolute;
    left: 24px;
    display: inline-block;
    height: 28px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 26px;
    padding-right: 8px;
    font-family: "Inter Bold";
    font-size: 14px;
    line-height: 28px;
    background-color: #F1F5F6;
    border-radius: 100px;
    z-index: -2;
}

.route_information {
    margin-top: 28px;
}

.route_information__item_where,
.route_information__item_somewhere {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 232px;
    margin-bottom: 15px;
}

.route_information__item_where::before,
.route_information__item_somewhere::before { 
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    border-top: 1px dashed #D5DDE0;
    z-index: -2;
}

.route_information__adress,
.route_information__time {
    font-family: "Inter Light";
    font-size: 12px;
    line-height: 16px;
    background-color: #ffffff;
}

.route_information__adress {
    padding-right: 10px;
}

.route_information__time {
    padding-left: 10px;
}

.route_information__item_something {
    display: flex;
    justify-content: center;
    background-color: #F1F5F6;
    border-radius: 5px;
}

.route_button {
    position: relative;
    padding-top: 8px;
    padding-bottom: 6px;
    color: #ffffff;
    background-color: #476DF5;
    border-style: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: "Inter Bold";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    box-shadow: 0px 2px 8px #1069e3;
}

.route_button::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 13px;
    right: 15px;
    background-image: url("/src/img/shape-buttons.svg");
    background-repeat: no-repeat;
}

.route_button:hover {
    opacity: 0.9;
    color: #ffffff;
}

.route_button:active {
    background-color: #584BF6;
    color: #ffffff;
} 

.route__shield {
    display: flex;
    flex-direction: column;
}

.route__wrapper {
    display: flex;
}

.route_list__text {
    margin-right: 10px;
}

.route__item { 
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 23px;
}

.route__item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #D5DDE0;
    z-index: -2;
}

.route__item::after {
    bottom: -15px;
}