.page_main__heading {
    display: none;
    margin: 0;
    margin-top: 7vh;
    margin-bottom: 5vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.payment_list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 7vh;
    padding-bottom: 19px;
    padding-left: 6vw; 
    padding-right: 6vw;
}

.payment_list__list {
    margin: 0;
    padding: 0;
}

.payment_list__item {
    position: relative;
    cursor: pointer;
    list-style: none;
}

.payment_name,
.payment_date,
.payment_numbers {
    text-transform: uppercase;
}

.payment_add_card {
    padding-left: 80px;
    text-transform: none;
    color: #3E4958;
}

.payment_label {
    width: 360px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.payment_label_add {
    position: relative;
    justify-content: start;
}

.payment__img_add {
    position: absolute;
    left: 14px;
}

.payment_list__item::before,
.payment_list__item::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 2px;
    left: 0;
    background-color: #D5DDE0;
    z-index: -2;
}

.payment_item_link:hover {
    color: #3E4958;
}

.payment_item_link:active {
    color: #3E4958;
}

.payment_link:hover {
    opacity: 0.9;
}

.payment_link:active {
    opacity: 0.7;
}

.payment_link:hover .payment_add_card {
    color: #476DF5;
}

.payment_link:active .payment_add_card {
    color: #476DF5;
}

@media (min-height: 721px) {
    .page_main__heading {
        display: block;
    }

    .payment_list__container {
        margin-top: 0;
    }
}