.valid_error {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -180px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgb(0 0 0 / 8%);
    font-family: "Inter Regular", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #F54747;

    transition: 0.5s;
    transform: translateY(-150%);
}

.valie_error_visible {
    transform: translateY(0);
}