.payment_label {
    width: 360px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.payment_label {
    position: relative;
}

.payment_label svg {
    position: absolute;
    top: 10px;
    left: 10px;
}

.payment_name,
.payment_date,
.payment_numbers {
    text-transform: uppercase;
}

.payment_name {
    padding-left: 51px;
}

.payment_list__item {
    position: relative;
    list-style: none;
}

.payment_list__item::before,
.payment_list__item::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 2px;
    left: 0;
    background-color: #D5DDE0;
    z-index: -2;
}
