.route_avatar {
    position: relative;
    margin-right: 59px;
}

.route_avatar__img {
    width: 48px;
    height: 48px;
}

.route_avater__name {
    position: absolute;
    left: 24px;
    display: inline-block;
    height: 28px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 26px;
    padding-right: 8px;
    font-family: "Inter Bold";
    font-size: 14px;
    line-height: 28px;
    background-color: #F1F5F6;
    border-radius: 100px;
    z-index: -2;
}

.route_information {
    margin-top: 28px;
}

.route_information div {
    margin-bottom: 15px;
}

.route_information__item_where,
.route_information__item_somewhere {
    display: flex;
    justify-content: space-between;
    width: 232px;
}

.route_information__adress,
.route_information__time {
    font-family: "Inter Light";
    font-size: 12px;
    line-height: 16px;
}

.route_information__item_something {
    display: flex;
    justify-content: center;
    background-color: #F1F5F6;
    border-radius: 5px;
}

.route_button {
    padding-top: 8px;
    padding-bottom: 6px;
    color: #ffffff;
    background-color: #476DF5;
    border-style: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: "Inter Bold";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    box-shadow: 0px 2px 8px #1069e3;
}

.route__shield {
    display: flex;
    flex-direction: column;
}

.route__wrapper {
    display: flex;
}

.route_list__text {
    margin-right: 10px;
}

.route__item { 
    position: relative;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 23px;
}

.route__item::before,
.route__item::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 2px;
    left: -10px;
    background-color: #D5DDE0;
    z-index: -2;
}

.route__item::before {
    top: -10px;
}

.route__item::after {
    bottom: -15px;
}