.page_main__heading {
    margin: 0;
    margin-top: 55px;
    margin-bottom: 63px;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.form_card_viev {
    display: flex;
    flex-direction: column;
}

.form_card_viev__container {
    padding-left: 34px;
    padding-right: 34px;
}

.form_card_viev__wrapper {
    position: relative;
    margin-bottom: 53px;
    padding-top: 45px;
    padding-bottom: 29px;
    padding-left: 15px;
    border-radius: 15px;
    background-color: #3E4958;
    box-shadow: 0 4px 15px rgb(0 0 0 / 15%);
}

.form_card_viev__wrapper svg {
    position: absolute;
    top: 15px;
    right: 15px;
}

.form_label_num,
.form_label_date,
.form_label_cvv {
    display: flex;
    flex-direction: column;
}

.form_card_viev__shield {
    width: 210px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__input {
    margin: 0;
    padding: 0;
    font-family: "Inter Medium";
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    background-color: #3E4958;
}

.form_label_num {
    margin-bottom: 20px;
}

.form__input_num {
    width: 250px;
    font-size: 20px;
    line-height: 24px;
}

.form__input_cvv,
.form__input_date {
    width: 50px;
}

.form__input_name {
    text-transform: uppercase;
}

.form_input__text {
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 60%;
}

.form_card_viev__buttons {
    position: relative;
    margin-bottom: 126px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    box-shadow: 4px 4px 15px rgb(0 0 0 / 8%);
    border-radius: 15px;
}

.form_card_viev__buttons::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 2px;
    top: 67px;
    left: 21px;
    background-color: #D5DDE0;
}

.form_card_viev__buttons span {
    margin-left: 7px;
    font-size: 16px;
    line-height: 21px;
}

.form_card_viev__true_viev,
.form_card_viev__edit {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: none;
}

.form_card_viev__true_viev {
    margin-bottom: 25px;
}

.viev_card__button {
    align-self: center;
    width: 205px;
    padding-top: 10px;
    padding-bottom: 7px;
}