.universal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_main__heading {
    max-width: 280px;
    margin: 0;
    margin-top: 7vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.form_recovery__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
}

.form_recovery__wrapper {
    display: flex;
    flex-direction: column;
}

.form_recovery__text {
    display: inline-block;
    width: 200px;
    margin-bottom: 65px;
    font-size: 16px;
    text-align: center;
    color: #97ADB6;
}

.form_recovery__wrapper label {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
}

.form_recovery {
    margin-top: 75px;
}

.form_recovery__input {
    margin-bottom: 323px;
}

.form_recovery__button {
    width: 205px;
    padding-top: 9px;
    padding-bottom: 8px;
    align-self: center;
}

.form_recovery__button:hover {
    opacity: 0.9;
    color: #ffffff;
}

.form_recovery__button:active {
    background-color: #584BF6;
    color: #ffffff;
}

.form_recovery__password_input {
    width: 339px;
    margin-bottom: 20px;
}

.form_recovery__repeat_input {
    margin-bottom: 236px;
}