.page_main__heading {
    margin: 0;
    margin-top: 7vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.form_recovery__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

.form_recovery__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
}

.form_recovery__text {
    align-self: center;
    display: inline-block;
    width: 315px;
    margin-bottom: 5vh;
    font-size: 16px;
    text-align: center;
    color: #97ADB6;
}

.form_recovery__wrapper label {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
}

.form_recovery {
    margin-top: 10vh;
}

.form_recovery__input {
    margin-bottom: 40vh;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: #F7F8F9;
    border: 1px solid #D5DDE0;
    border-radius: 15px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Inter Regular", sans-serif;
    color: #3E4958;
}

.form_recovery__button {
    align-self: center;
    width: 205px;
    padding-top: 10px;
    padding-bottom: 7px;
    color: #ffffff;
    background-color: #476DF5;
    border-style: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: "Inter Bold";
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 2px 8px #1069e3; 
}

.form_recovery__button:hover {
    opacity: 0.9;
    color: #ffffff;
}

.form_recovery__button:active {
    background-color: #584BF6;
    color: #ffffff;
}

.not_valid_input {
    border: 1px solid #F54747;
}

@media (min-width: 1200px) {
    .form_recovery {
        margin-top: 15vh;
    }
}