.form_recovery__container {
    display: flex;
    flex-direction: column;
    padding-left: 36px;
    padding-right: 36px;
}

.form_recovery__wrapper {
    display: flex;
    flex-direction: column;
}

.form_recovery__text {
    align-self: center;
    display: inline-block;
    width: 315px;
    margin-bottom: 40px;
    font-size: 16px;
    text-align: center;
    color: #97ADB6;
}

.form_recovery__wrapper label {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
}

.form_recovery {
    margin-top: 75px;
}

.form_recovery__input {
    margin-bottom: 323px;
}

.form_recovery__button {
    display: inline-block;
    width: 205px;
    padding-top: 9px;
    padding-bottom: 8px;
    align-self: center;
}