.form_card_add__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

.page_main__heading {
    margin: 0;
    margin-top: 7vh;
    margin-bottom: 36px;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.form_card_add__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    width: 100%;
}

.form_card_add__wrapper label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form_input__text {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
}

.form_card_add__shield {
    display: flex;
    justify-content: space-between;
    margin-bottom: 280px;
}

.form_card_add__shield label {
    width: 155px;
}

.form_label_date {
    position: relative;
}

/* .form_label_date::before {
    content: "/";
    position: absolute;
    top: 37px;
    left: 75px;
} */

.form_card_add__buttons {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    box-shadow: 4px 4px 15px rgb(0 0 0 / 8%);
    border-radius: 15px;
}

.form_card_add__buttons::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 2px;
    top: 67px;
    left: 21px;
    background-color: #D5DDE0;
}

.form_card_add__buttons span {
    margin-left: 7px;
    font-size: 16px;
    line-height: 21px;
}

.form_card_add__button {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: none;
}

.form_card_add__scane {
    margin-bottom: 25px;
}

.add_card__button {
    align-self: center;
    width: 205px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.add_card__button:hover {
    opacity: 0.9;
    color: #ffffff;
}

.add_card__button:active {
    background-color: #584BF6;
    color: #ffffff;
}

.form__input {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: #F7F8F9;
    border: 1px solid #D5DDE0;
    border-radius: 15px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Inter Regular", sans-serif;
    color: #3E4958;
}

.not_valid_input {
    border: 1px solid #F54747;
}