.route_selected__container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.route_selected__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.route_selected__shield {
    display: flex;
    flex-direction: column;
}

.route_avatar {
    position: relative;
    margin-bottom: 20px;
}

.route_avatar__img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.route_avater__name {
    position: absolute;
    left: 24px;
    display: inline-block;
    height: 28px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 26px;
    padding-right: 8px;
    font-family: "Inter Bold";
    font-size: 14px;
    line-height: 28px;
    background-color: #F1F5F6;
    border-radius: 100px;
    z-index: -2;
}

.route_selected__buttons {
    display: flex;
}

.route_selected__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #ffffff;
}

.route_selected__button_text {
    font-family: "Inter Light";
    font-size: 12px;
    line-height: 16px;
    color: #3E4958;
}

.route_selected__button_map {
    margin-right: 22px;
}

.route_selected_information {
    width: 142px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.route_information__text {
    font-family: "Inter Light";
    font-size: 12px;
    line-height: 16px;
}

.route_selected_information__item {
    margin-bottom: 10px;
}

.route_information__text_places {
    width: 67px;
}

.route_selected_information__item_there,
.route_selected_information__item_back,
.route_selected_information__item_places {
    display: flex;
    justify-content: space-between;
}

.route_selected_information__item_days {
    position: relative;
    display: inline-block;
    font-family: "Inter Medium";
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    background-color: #FFC032;
    border-radius: 15px;
}

.route_selected_information__item_days {
    padding-top: 4px;
    padding-bottom: 5px;
    text-align: center;
}

.route_selected_information__item_days svg {
    position: absolute;
    top: 4px;
    left: 12px;
}

.route_selected__container::before,
.route_selected__container::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 2px;
    left: -10px;
    background-color: #D5DDE0;
    z-index: -2;
}

.route_selected__container::before {
    top: -10px;
}

.route_selected__container::after {
    bottom: -310px;
}

.route_list__button {
    padding-top: 8px;
    padding-bottom: 6px;
    color: #ffffff;
    background-color: #476DF5;
    border-style: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: "Inter Bold";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    box-shadow: 0px 2px 8px #1069e3;
}

.route_list__text {
    margin-right: 10px;
}