.form_search_route {
    margin-top: 7vh;
    margin-bottom: 10px;
}

.form_search_route__container {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.form_search_route__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    margin-bottom: 20px;
}

.form_search_route__wrapper label {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
}

.form_search_route__where_input {
    margin-bottom: 20px;
}

.route_list__container {
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}