.form_search_route {
    margin-top: 55px;
    margin-bottom: 10px;
}

.form_search_route__container {
    margin-bottom: 30px;
    padding-left: 36px;
    padding-right: 36px;
}

.form_search_route__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form_search_route__wrapper label {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
}

.form_search_route__where_input {
    margin-bottom: 20px;
}

.route_list__container {
    padding-left: 36px;
    padding-right: 36px;
}