.car_settings__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    padding-bottom: 30px;
    padding-left: 6vw;
    padding-right: 6vw;
}

.page_main__heading {
    display: none;
    align-self: center;
    max-width: 240px;
    margin: 0;
    margin-top: 7vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.car_settings__list {
    margin: 0;
    padding: 0;
}

.car_list__item {
    list-style: none;
}

.car_label {
    width: 360px;
    height: 60px;
    display: flex;
    align-items: center;
}

.car_link {
    margin-left: 15px;
}

.car_link:hover {
    opacity: 0.9;
    color: #476DF5;
}

.car_link:active {
    opacity: 0.7;
    color: #476DF5;
}

.car_list__item::before,
.car_list__item::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 2px;
    background-color: #D5DDE0;
    z-index: -2;
}

@media (min-height: 721px) {
    .page_main__heading {
        display: block;
    }

    .car_settings__container {
        margin-top: 36px;
    }
}