.navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.navigation__list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-top: 7px;
}

.navigation__item {
    list-style: none;
}

.navigation_link {
    color: #3E4958;
}

.navigation_svg {
    fill: #97ADB6;
}

.navigation_link__active_svg {
    fill: #476DF5;
}

.my_route_link__yellow_path,
.my_route_link__yellow_path,
.my_route_link__yellow_path {
    fill: #FFC032;
}

.my_route_link__blue_path {
    fill: #476DF5;
}

.my_route_link__black_path,
.my_route_link__black_path {
    fill: #0C2E40;
}

.my_route_link__grey_path {
    fill: #97ADB6;
}