.navigation {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.navigation__list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    padding-top: 7px;
}

.navigation__item {
    list-style: none;
}

.navigation_link {
    color: #3E4958;
}

.navigation_svg {
    fill: #97ADB6;
}

.navigation_link__active_svg {
    fill: #476DF5;
}

.my_route_link__yellow_path,
.my_route_link__yellow_path,
.my_route_link__yellow_path {
    fill: #FFC032;
}

.my_route_link__blue_path {
    fill: #476DF5;
}

.my_route_link__black_path,
.my_route_link__black_path {
    fill: #0C2E40;
}

.my_route_link__grey_path {
    fill: #97ADB6;
}

@media (min-width: 1440px) {
    .navigation {
        position: fixed;
        left: 0;
        width: 80px;
        height: 100vh;
    }

    .navigation__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
    }
}