.page_main__heading {
    margin: 0;
    margin-top: 7vh;
    margin-bottom: 5vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.form_create_route__shield {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

.form_create_route__wrapper {
    display: flex; 
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    margin-bottom: 20px;
}

.form_create_route__wrapper label {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
}

.form_create_route__where_input {
    margin-bottom: 20px;
}

.form_create_route__where_input,
.form_create_route__somewhere_input {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: #F7F8F9;
    border: 1px solid #D5DDE0;
    border-radius: 15px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Inter Regular", sans-serif;
    color: #3E4958;
}

.information {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
}

.auto {
    display: flex;
    margin-bottom: 15px;
}

.auto__select {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 37px;
    display: inline-block;
    background-color: #FFC032;
    border-radius: 15px;
}

.auto__select:hover {
    opacity: 0.9;
    color: #ffffff;
}

.auto__select:active {
    background-color: #FFAF32;
}

.auto__select svg {
    position: absolute;
    left: 10px;
}

.auto__text {
    font-family: "Inter Medium";
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.price {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.price label {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.price__input {
    padding-top: 6px;
    padding-bottom: 7px;
    background-color: #F7F8F9;
    border: 2px solid #D5DDE0;
    border-radius: 15px;
    line-height: 16px;
    text-align: center;
}

.additional {
    display: flex;
    flex-direction: column;
}

.additional label {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.additional__input {
    height: 135px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Inter Regular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #3E4958;
    background-color: #F7F8F9;
    border: 2px solid #D5DDE0;
    border-radius: 15px;
    resize: none;
}

.form_create_route__button {
    position: absolute;
    left: 50vw;
    bottom: 100px;
    width: 205px;
    margin-left: -102px;
    padding-top: 10px;
    padding-bottom: 7px;
    color: #ffffff;
    background-color: #476DF5;
    border-style: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: "Inter Bold";
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 2px 8px #1069e3; 
}

.form_create_route__button:hover {
    opacity: 0.9;
    color: #ffffff;
}

.form_create_route__button:active {
    background-color: #584BF6;
    color: #ffffff;
}

.not_valid_input {
    border: 1px solid #F54747;
}

.not_valid_input_price {
    border: 2px solid #F54747;
}

.not_valid_input_auto {
    background-color: #F54747;
}

.not_valid_button {
    background-color: #F54747;
    box-shadow: 0px 2px 8px #F54747;
}