.page_main__heading {
    align-self: center;
    margin: 0;
    margin-top: 7vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.form_registration {
    margin-top: 5vh;
}

.form_registration__container {
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.form_registration__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
}

.form_registration__wrapper label {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
}

.form_registration__wrapper input {
    margin-bottom: 15px;
}

.form_registration__input {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: #F7F8F9;
    border: 1px solid #D5DDE0;
    border-radius: 15px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Inter Regular", sans-serif;
    color: #3E4958;
}

.form_registration__button {
    align-self: center;
    width: 205px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.form_registration__button:hover {
    opacity: 0.9;
    color: #ffffff;
}

.form_registration__button:active {
    background-color: #584BF6;
    color: #ffffff;
}

.agree_checkbox__wrapper {
    display: flex;
    padding-left: 45px;
    margin-bottom: 92px;
}

.agree_checkbox__label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 14px;
    color: #97ADB6;
    cursor: pointer;
}

.agree_checkbox__link {
    position: relative;
    display: flex;
    color: #FFC032;
}

.agree_checkbox__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    background-color: #FFC032;
}

.agree_checkbox__link:hover {
    opacity: 0.9;
    color: #FFC032;
}

.agree_checkbox__link:active {
    opacity: 0.7;
    color: #FFC032;
}

.agree_checkbox+label::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -37px;
    width: 20px;
    height: 20px;
    border: 2px solid #476DF5;
    border-radius: 4px;
    cursor: pointer;
}

.agree_checkbox:checked+label::after {
    content: "";
    position: absolute;
    top: 11px;
    left: -33px;
    width: 12px;
    height: 12px;
    background-color: #476DF5;
    border-radius: 2px;
    cursor: pointer;
}

.not_valid_input {
    border: 1px solid #F54747;
}

.agree_checkbox_not_valid+label::before {
    border: 2px solid #F54747;
}