.has_account {
  position: absolute;
  width: 100vw;
  bottom: 5vh;
}

.has_account__container {
  display: flex;
  justify-content: center;
}

.has_account__text {
  padding-right: 15px;
}

.has_account__text,
.has_account__link {
  font-size: 16px;
  color: #97ADB6;
}

.has_account__link {
  position: relative;
  color: #FFC032;
}

.has_account__link:hover {
  opacity: 0.9;
  color: #FFC032;
}

.has_account__link:active {
  opacity: 0.7;
  color: #FFC032;
}

.has_account__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #FFC032;
}