.page_main__heading {
    margin: 0;
    margin-top: 7vh;
    margin-bottom: 5vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.payment_list__container {
    margin: 0;
    padding: 0;
    padding-left: 26px;
    padding-right: 26px;
}

.payment_list__list {
    margin: 0;
    padding: 0;
}

.payment_list__item {
    position: relative;
    list-style: none;
}

.payment_name,
.payment_date,
.payment_numbers {
    text-transform: uppercase;
}

.payment_label {
    width: 360px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.payment_label {
    position: relative;
    cursor: pointer;
}

.payment_label svg {
    position: absolute;
    top: 10px;
    left: 10px;
}

.payment_list__item::before,
.payment_list__item::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 2px;
    left: 0;
    background-color: #D5DDE0;
    z-index: -2;
}