.page_main__heading {
    align-self: center;
    max-width: 190px;
    margin: 0;
    margin-top: 7vh;
    margin-bottom: 568px;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.successful__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.successful_form__button {
    margin-bottom: 5px;
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 57px;
    padding-right: 57px;
}

.successful_text {
    width: 150px;
    padding: 0;
    font-family: "Inter Light";
    font-size: 12px;
    text-align: center;
    border: none;
    background-color: transparent;
}