.page_welcome {
    margin-top: 15vh;
}

.page_welcome__container {
    display: flex;
    justify-content: center;
}

.page_welcome__promo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    padding: 25px;
    padding-top: 5px;
    border-radius: 25px;
    background-color: #ffffff;
}

.page_welcome__promo_text:first-child {
    font-family: "Inter Medium";
    font-size: 20px;
    color: #FFC032;
}

.page_welcome__promo_text:nth-child(2) {
    font-family: "Inter Light";
    font-size: 12px;
    color: #7E7E7E;
}

.page_navigation__container {
    padding-left: 13vw;
    padding-right: 13vw;
}

.page_navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page_navigation__list li {
    list-style: none;
}

.page_navigation__list_link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 135px;
    height: 135px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    background-color: #476DF5;
    box-shadow: 0px 2px 8px #1069e3;
    border-radius: 15%;
    font-family: "Inter Bold";
    text-transform: uppercase;
    color: #ffffff;
}

.page_navigation__list__login:hover,
.page_navigation__list__registration:hover {
    opacity: 0.9;
    color: #ffffff;
}

.page_navigation__list__login:active,
.page_navigation__list__registration:active {
    background-color: #584BF6;
    color: #ffffff;
}

.page_navigation__list__faq:hover,
.page_navigation__list__application:hover {
    opacity: 0.9;
    color: #ffffff;
}

.page_navigation__list__faq:active,
.page_navigation__list__application:active {
    background-color: #FFAF32;
}


.page_navigation__list__login {
    background-image: url("/src/img/main-page-login.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.page_navigation__list__registration {
    background-image: url("/src/img/main-page-registration.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.page_navigation__list__login {
    background-image: url("/src/img/main-page-login.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.page_navigation__list__registration {
    background-image: url("/src/img/main-page-registration.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.page_navigation__list__faq {
    background-image: url("/src/img/main-page-faq.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.page_navigation__list__faq,
.page_navigation__list__application {
    background-color: #FFC032;
    box-shadow: 0px 2px 8px #ffc03257;
}

.page_navigation__list__application {
    text-align: center;
    background-image: url("/src/img/mobile-application.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 15px;
}

.page_text {
    display: flex;
    justify-content: space-between;
    margin-left: 8vw;
    margin-right: 8vw;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 4px 4px 15px rgb(0 0 0 / 8%);
    visibility: hidden;
}

.page_text__text {
    width: 335px;
    font-family: "Inter Regular";
    font-size: 14px;
    color: #7E7E7E;
}

.page_text__text_yellow {
    color: #FFC032;
}

@media (min-width: 768px) {
    .page_welcome {
        margin-top: 24vh;
    }

    .page_welcome__promo {
        padding-top: 10px;
    }

    .page_navigation__container {
        padding-left: 8vw;
        padding-right: 8vw;
    }

    .page_text {
        visibility: visible;
        padding: 25px;
    }
}

@media (min-width: 1200px) {
    .page_welcome {
        margin-top: 28vh;
    }

    .page_navigation {
        margin-top: 3vh;
    }

    .page_navigation__container {
        padding-left: 25vw;
        padding-right: 25vw;
    }

    .page_text {
        margin-left: 25vw;
        margin-right: 25vw;
    }
}