.page_welcome {
    margin-top: 125px;
}

.page_welcome__promo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page_welcome__promo_text:first-child {
    font-family: "Inter Medium";
    font-size: 20px;
    color: #FFC032;
}

.page_welcome__promo_text:nth-child(2) {
    font-family: "Inter Light";
    font-size: 12px;
    color: #7E7E7E;
}

.page_navigation {
    margin-top: 60px;
}

.page_navigation__container {
    padding-left: 40px;
    padding-right: 40px;
}

.page_navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.page_navigation__list li {
    list-style: none;
}

.page_navigation__list_link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 135px;
    height: 135px;
    margin-bottom: 40px;
    border: 5px solid #476DF5;
    border-radius: 15%;
    font-family: "Inter Bold";
    text-transform: uppercase;
    color: #476DF5;
    padding-bottom: 15px;
}

.page_navigation__list__login {
    background-image: url("/src/img/main-page-login.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.page_navigation__list__registration {
    background-image: url("/src/img/main-page-registration.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.page_navigation__list__login {
    background-image: url("/src/img/main-page-login.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.page_navigation__list__registration {
    background-image: url("/src/img/main-page-registration.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.page_navigation__list__faq {
    background-image: url("/src/img/main-page-faq.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30px;
}

.page_navigation__list__faq,
.page_navigation__list__application {
    border: 5px solid #FFC032;
    color: #FFC032;
}

.page_navigation__list__application {
    text-align: center;
    background-image: url("/src/img/mobile-application.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}