.page_main__heading {
    margin: 0;
    margin-top: 7vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.form_verification {
    margin-top: 75px;
}

.form_verification__container {
    padding-left: 55px;
    padding-right: 55px;
}

.form_verification__text {
    position: relative;
    display: inline-block;
    margin-bottom: 70px;
    font-size: 16px;
    text-align: center;
    color: #97ADB6;
}

.form_verification__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form_verification__input_wrapper {
    display: flex;
    justify-content: space-between;
}

.form_verification__input {
    position: relative;
    width: 40px;
    height: 60px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #476DF5;
    font-family: "Inter Bold";
    font-size: 48px;
    text-align: center;
    color: #476DF5;
}

.form_verification__input::after {
    position: absolute;
    content: url(/src/img/verification-line.svg);
    top: 2px;
    width: 200px;
    height: 2px;
}

.form_verification__button {
    margin-bottom: 5px;
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    color: #FFC032;
}

.form_verification__button:hover {
    opacity: 0.9;
    color: #FFC032;
}

.form_verification__button:active {
    opacity: 0.7;
    color: #FFC032;
}

.form_verification__button_delete {
    color: #F54747;
}

.form_verification__button_delete:hover {
    opacity: 0.9;
    color: #F54747;
}

.form_verification__button_delete:active {
    opacity: 0.7;
    color: #F54747;
}

.not_valid_input {
    border-bottom: 2px solid #F54747;
    color: #F54747;
}