.page_main__heading {
    margin: 0;
    margin-top: 7vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.form_login {
    margin-top: 15vh;
}

.form_login__container {
    display: flex;
    justify-content: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

.form_login__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100vw;
}

.form_login__wrapper label {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
}

.login_input {
    margin-bottom: 15px;
}

.login_password {
    width: 100%;
}

.login_input,
.login_password {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: #F7F8F9;
    border: 1px solid #D5DDE0;
    border-radius: 15px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Inter Regular", sans-serif;
    color: #3E4958;
}

.login_password__wrapper {
    position: relative;
    margin-bottom: 10px;
}

.password_checkbox_label {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}

.forgot_password {
    margin-bottom: 40px;
    font-size: 16px;
    text-align: center;
    color: #97ADB6;
}

.forgot_password:hover {
    opacity: 0.9;
    color: #97ADB6;
}

.forgot_password:active {
    opacity: 0.7;
    color: #97ADB6;
}

.form_login__button {
    padding-top: 12px;
    padding-bottom: 13px;
}

.form_login__button:hover {
    opacity: 0.9;
    color: #ffffff;
}

.form_login__button:active {
    background-color: #584BF6;
    color: #ffffff;
}

.not_valid_input {
    border: 1px solid #F54747;
}