.no_account {
    margin-top: 280px;
  }

  .no_account__container {
    display: flex;
    justify-content: center;
  }

  .no_account__text {
    padding-right: 15px;
  }

  .no_account__text,
  .no_account__link {
    font-size: 16px;
    color: #97ADB6;
  }

  .no_account__link {
    position: relative;
    color: #FFC032;
  }

  .no_account__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: #FFC032;
  }