.route_driver__item {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    margin-bottom: 18px;
}

.route_driver__item::before,
.route_driver__item::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 2px;
    left: -10px;
    background-color: #D5DDE0;
    z-index: -2;
}

.route_driver__item::before {
    top: -10px;
}

.route_driver__item::after {
    bottom: -10px;
}

.route_driver__shield {
    display: flex;
}

.route_driver_avatar {
    position: relative;
    margin-right: 59px;
}

.route_driver_avatar__img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.route_driver__name {
    position: absolute;
    left: 24px;
    display: inline-block;
    height: 28px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 26px;
    padding-right: 8px;
    font-family: "Inter Bold";
    font-size: 14px;
    line-height: 28px;
    background-color: #F1F5F6;
    border-radius: 100px;
    z-index: -2;
}

.route_driver_information {
    margin-top: 28px;
}

.route_driver_information__item {
    margin-bottom: 15px;
}

.route_driver_information__item_where,
.route_driver_information__item_somewhere {
    display: flex;
    justify-content: space-between;
    width: 232px;
}

.route_driver_information__adress,
.route_driver_information__time {
    font-family: "Inter Light";
    font-size: 12px;
    line-height: 16px;
}

.route_driver_information__item_status {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 3px;
    padding-bottom: 2px;
    background-color: #F1F5F6;
    border-radius: 5px;
}

.route_driver_information__text {
    padding-top: 3px;
    padding-bottom: 2px;
    font-family: "Inter Bold";
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.route_driver_button {
    padding-top: 8px;
    padding-bottom: 7px;
    font-family: "Inter Bold";
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0px 2px 8px #1069e3;
    background-color: #476DF5;
    border-style: none;
    border-radius: 15px;
}