.page_main__heading {
    align-self: center;
    max-width: 190px;
    margin: 0;
    margin-top: 7vh;
    margin-bottom: 2vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.my_routes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_routes__container {
    max-width: 1310px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 6vw;
    padding-right: 6vw;
}

.my_routes__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 29px;
    font-family: "Inter Bold";
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    background-color: #F1F5F6;
    cursor: pointer;
}

.my_routes__label_left {
    border-radius: 15px 0 0;
}

.my_routes__label_right {
    border-radius: 0 15px 0 0;
}

.my_routes__selector {
    position: relative;
    display: flex;
}

.my_routes__selector::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #D5DDE0;
}

.my_routes__label_active {
    color: #ffffff;
    background-color: #FFC032;
}

.my_routes__list {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 60px;
}

.my_routes__radiobutton {
    padding: 0;
}