.page_main__heading {
    margin: 0;
    margin-top: 55px;
    margin-bottom: 36px;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.form_search_route__container {
    padding-left: 36px;
    padding-right: 36px;
}

.form_search_route__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form_search_route__wrapper label {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
}

.form_search_route__where_input {
    margin-bottom: 20px;
}

.form_search_route__where_input,
.form_search_route__somewhere_input {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: #F7F8F9;
    border: 1px solid #D5DDE0;
    border-radius: 15px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Inter Regular", sans-serif;
    color: #3E4958;
}

.time_form__button {
    position: absolute;
    left: 102px;
    bottom: 100px;
    width: 205px;
    padding-top: 10px;
    padding-bottom: 7px;
    text-align: center;
}

.not_valid_input {
    border: 1px solid #F54747;
}