.page_main__heading {
    margin: 0;
    margin-top: 7vh;
    margin-bottom: 5vh;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.form_search_route__container {
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

.form_search_route__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100vw;
    margin-bottom: 20px;
}

.form_search_route__wrapper label {
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 20px;
}

.form_search_route__where_input {
    margin-bottom: 20px;
}

.form_search_route__where_input,
.form_search_route__somewhere_input {
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 13px;
    background-color: #F7F8F9;
    border: 1px solid #D5DDE0;
    border-radius: 15px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Inter Regular", sans-serif;
    color: #3E4958;
}

.time_form__button {
    position: absolute;
    left: 50vw;
    bottom: 100px;
    width: 205px;
    margin-left: -102px;
    padding-top: 10px;
    padding-bottom: 7px;
    color: #ffffff;
    background-color: #476DF5;
    border-style: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-family: "Inter Bold";
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 2px 8px #1069e3;
}

.time_form__button:hover {
    opacity: 0.9;
    color: #ffffff;
}

.time_form__button:active {
    background-color: #584BF6;
    color: #ffffff;
}

.not_valid_button {
    background-color: #F54747;
    box-shadow: 0px 2px 8px #F54747;
}

.not_valid_input {
    border: 1px solid #F54747;
}

/* @media (min-width: 1200px) {
    .page_main__heading {
        padding-left: 8vw;
        text-align: start;
    }

    .form_search_route__container {
        justify-content: left;
    }

    .time_form__button {
        left: 10vw;
    }
} */