.page_main__heading {
    margin: 0;
    margin-top: 7vh;
    margin-bottom: 36px;
    text-align: center;
    font-family: "Inter Bold";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3E4958;
}

.days_form__container {
    padding-left: 36px;
    padding-right: 36px;
}

.days_form__list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 59px;
    margin: 0;
    padding: 0;
    margin-bottom: 513px;
}

.days_form__item {
    list-style: none;
}

.days_form__wrapper {
    display: flex;
    flex-direction: column;
}

.days_form__list::before,
.days_form__list::after {
    content: "";
    position: absolute;
    left: -10px;
    width: 360px;
    height: 2px;
    background-color: #D5DDE0;
    z-index: -2;
}

.days_form__list::before {
    bottom: 0;
}

.days_form__list::after {
    top: 0;
}

.day_checkbox_label {
    position: relative;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 19px;
}

.day_checkbox:checked+label {
    color: #ffffff;
}

.day_checkbox:checked+label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 38px;
    height: 38px;
    background-color: #FFC032;
    border-radius: 100px;
    z-index: -2;
}

.days_form__item {
    list-style: none;
}

.days_form__button {
    align-self: center;
    width: 205px;
    padding-top: 10px;
    padding-bottom: 7px;
    text-align: center;
}